[Unit]
Description=Key Listener Script
After=network.target

[Service]
ExecStart=/bin/bash /home/creepy/creepy/src/key_listener.sh
WorkingDirectory=/home/creepy/creepy/src
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi  # Replace 'pi' with your username if different

[Install]
WantedBy=multi-user.target
